@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* * {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
    list-style: none;
    text-decoration: none;
  } */



  /* html ::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  html ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-200;
  }

  html ::-webkit-scrollbar-track {
    @apply bg-slate-100;
  } */


  /* table */
  .fieldset {
    @apply border-[1px] border-slate-300 bg-white overflow-x-auto min-w-[18rem] h-auto rounded-lg px-3 py-2;
  }

  table {
    @apply w-full;
  }

  table thead tr th,
  table tbody tr td {
    @apply mr-9;
  }

  thead tr th,
  tbody tr {
    @apply border-b-[1px] border-dashed border-slate-200;
  }

  thead th {
    @apply whitespace-nowrap p-2 text-left font-alt text-xs font-bold uppercase text-zinc-600;
  }

  tbody tr td {
    @apply p-2 text-left font-sans text-[0.7rem] font-medium text-gray-400;
  }

  tbody tr:last-child {
    @apply border-b-0;
  }

  tbody tr td ul {
    @apply flex flex-row justify-start gap-2;
  }

  tbody tr td ul li a {
    @apply cursor-pointer rounded bg-slate-200 px-2 py-1 font-semibold text-white;
  }

  select {
    cursor: pointer;
  }


  body {
    @apply h-full w-full bg-slate-50 font-sans text-slate-900;
  }






  /* #painel option[value=""][disabled] {
    @apply hidden text-slate-300;
  }

  #painel option {
    @apply text-zinc-600;
  } */



  #painel ul li {
    @apply text-xs font-normal text-slate-800;
  }


  /* #painel .form,
  fieldset {
    @apply rounded-[0.8rem] border-[1px] border-slate-300 bg-white px-5 py-4 overflow-x-auto min-w-[18rem];
  } */

  #painel legend {
    @apply font-sans text-xs font-medium text-zinc-600;
  }
}

@layer components {

  /* text */
  .text-h1 {
    @apply font-alt text-xl font-semibold text-slate-900;
  }

  .text-h2 {
    @apply font-montserrat text-lg leading-3 font-semibold text-slate-900;
  }

  .text-h3 {
    @apply font-montserrat text-base font-semibold text-slate-900;
  }

  .text-h4 {
    @apply font-montserrat text-sm font-semibold text-slate-900;
  }

  .text-h5 {
    @apply font-montserrat text-xs font-semibold text-slate-900;
  }

  .text-h6 {
    @apply font-montserrat text-[10px] font-semibold text-slate-900;
  }


  .text-label {
    @apply font-lexend text-slate-700 text-xs font-medium;
  }

  .text-select {
    @apply font-montserrat text-xs font-medium text-slate-600 hover:bg-slate-100;
  }

  .text-span {
    @apply font-normal text-xs text-slate-400
  }


  /* input */
  .input-style {
    @apply p-2 w-full h-9 rounded border border-slate-300 bg-white font-sans text-sm font-normal text-slate-600;
  }



  /* ---------- */


  #root {
    @apply mb-16 flex h-full w-full flex-col overflow-auto;
  }

  .padding-main {
    @apply px-32 py-0 max-md:px-4;
  }

  .bnt-sub {
    @apply rounded-xl border-none bg-primary px-4 py-2 font-sans text-lg font-medium capitalize tracking-widest text-white;
  }

  .form-session {
    @apply rounded-[0.8rem] border-[1px] border-slate-300 bg-white p-8;
  }





  .button-second {
    @apply bg-second text-white hover:bg-secondHover disabled:bg-slate-400 disabled:text-white;
  }

  .button-tertiary {
    @apply bg-white text-slate-700 h-fit hover:text-slate-800 p-2 hover:bg-primary hover:border-primary rounded-md border-slate-200 border-solid border-[1px];
  }



  .button-arrow {
    @apply h-fit rounded-md border-slate-300 border-solid border-[1px] px-1 py-1 text-slate-400 hover:bg-slate-100 hover:text-slate-500 disabled:cursor-not-allowed disabled:opacity-30;
  }

  .button-tool {
    @apply h-6 w-fit rounded p-1 hover:bg-slate-100 hover:text-slate-500
  }

  .button-min {
    @apply h-fit cursor-pointer hover:bg-primary bg-slate-300 px-1 py-1 text-xs text-slate-700
  }



  .model-bg {
    @apply fixed right-0 top-0 z-50 flex h-screen w-screen items-center justify-center bg-black/50;
  }

  .model-size {
    @apply px-5 py-4 bg-white rounded-xl border-[1px] border-slate-300;
  }

  .model-size-min {
    @apply overflow-x-auto min-w-[18rem];
  }

  .model-size-full {
    @apply overflow-hidden max-md:w-[80%] w-2/4 h-[80%];
  }


  .model-card {
    @apply flex h-full w-full flex-col items-start justify-start gap-2;
  }

  .model-header {
    @apply flex w-full items-center justify-between leading-3 pb-1 border-b-[1px];
  }

  .model-close{
    @apply w-fit rounded-full p-0 text-slate-400 hover:text-slate-600
  }
  .model-body {
    @apply flex w-full flex-col justify-start gap-8 overflow-y-auto h-full pr-1;
  }

  .model-loading {
    @apply flex w-full h-full items-center justify-center;
  }
}


html,
body {
  scroll-behavior: smooth !important;
}