@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
    list-style: none;
  }

  /* html {
      @apply text-[62.5%] overflow-x-hidden;
    } */
  
  body {
    @apply h-[100vh] w-[100vw] bg-slate-50 font-sans text-slate-900;
  } 

  footer {
    @apply padding-main mt-16 h-16 w-full;
  }

  /* i svg {
      @apply w-[2.4rem] h-[2.4rem];
    }
   */

  option[value=""][disabled] {
    @apply hidden text-slate-300;
  }

  option {
    @apply text-zinc-600;
  }

  /* table */
  table {
    @apply w-full;
  }

  table thead tr th,
  table tbody tr td {
    @apply mr-9;
  }

  thead tr th,
  tbody tr {
    @apply border-b-[1px] border-dashed border-slate-200;
  }

  thead th {
    @apply whitespace-nowrap p-2 text-left font-alt text-xs font-bold uppercase text-zinc-600;
  }

  tbody tr td {
    @apply p-2 text-left font-sans text-[0.7rem] font-medium text-slate-400;
  }

  /*
  tbody tr td:first-child {
    @apply text-zinc-600 hover:text-primary cursor-pointer uppercase;
  }
*/

  tbody tr:last-child {
    @apply border-b-0;
  }

  tbody tr td ul {
    @apply flex flex-row justify-start gap-2;
  }

  tbody tr td ul li a {
    @apply cursor-pointer rounded bg-slate-200 px-2 py-1 font-semibold text-white;
  }

  /* text */
  /* h2 {
      @apply font-sans text-base font-medium uppercase text-zinc-600 mb-2;
    }
    h4 {
      font-family: sans;
      font-size: 1rem;
      font-weight: 400;
      text-transform: uppercase;
  
      color: var(--slate-800);
    }
    a {
      text-decoration: none;
    }
   */
  /* buttons */
  button:disabled,
  button:disabled:hover,
  button:disabled:focus,
  button:disabled:active {
    pointer-events: none;
    background: var(--slate-100);
  }

  /* scroll */

  html{
    overflow: hidden;
  }
  
  html ::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  html ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-200;
  }

  html ::-webkit-scrollbar-track {
    @apply bg-slate-100;
  }

  /* form */
  h1 {
    @apply font-alt text-xl font-semibold text-slate-900;
  }

  h2 {
    @apply font-alt text-lg font-semibold text-slate-900;
  }

  h3 {
    @apply font-alt text-base font-semibold text-slate-900;
  }

  h4 {
    @apply font-alt text-sm font-semibold text-slate-900;
  }

  h5 {
    @apply font-alt text-xs font-semibold text-slate-900;
  }

  h6 {
    @apply font-alt text-[10px] font-semibold text-slate-900;
  }

  span {
    @apply font-sans text-xs font-normal text-slate-400;
  }

  .form,
  fieldset {
    @apply rounded-[0.8rem] border-[1px] border-slate-300 bg-white px-5 py-4;
  }

  legend {
    @apply font-sans text-xs font-medium text-zinc-600;
  }

  label {
    @apply font-sans font-medium text-slate-700;
  }

  select,
  input[type="radio"],
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="time"],
  input[type="date"],
  input[type="datetime-local"],
  textarea, .inputStyle {
    @apply h-10 w-full rounded border border-slate-300 bg-white px-3 font-sans text-sm font-normal text-zinc-600;
  }

  select{
    cursor: pointer;
  }

  button {
    @apply flex h-10 items-center justify-center gap-1 whitespace-nowrap rounded-lg px-4 py-2 font-sans text-sm font-semibold transition-colors;
  }
}

@layer components {
  #root {
    @apply mb-16 flex h-full w-full flex-col overflow-auto;
  }

  .padding-main {
    @apply px-32 py-0 max-md:px-4;
  }

  .card {
    @apply rounded-[2rem] bg-white p-12 shadow-md ring-1 ring-slate-200 dark:bg-slate-900;
  }

  .bnt-sub {
    @apply rounded-xl border-none bg-primary px-4 py-2 font-sans text-lg font-medium capitalize tracking-widest text-white;
  }

  .form-session {
    @apply rounded-[0.8rem] border-[1px] border-slate-300 bg-white p-8;
  }



  .button-primary {
    @apply bg-primary text-slate-800 hover:bg-primaryHover disabled:bg-slate-400 disabled:text-white;
  }

  .button-second {
    @apply bg-second text-white hover:bg-secondHover disabled:bg-slate-400 disabled:text-white;
  }

  .button-tertiary {
    @apply bg-white text-slate-700 h-fit hover:text-slate-800 p-2 hover:bg-primary hover:border-primary rounded-md border-slate-200 border-solid border-[1px];
  }

  .button-arrow {
    @apply h-fit rounded-md border-slate-200 border-solid border-[1px] px-1 py-1 text-slate-400 hover:bg-slate-100 hover:text-slate-500 disabled:cursor-not-allowed disabled:opacity-30;
  }

  .button-tool{
  @apply h-6 w-fit rounded p-1 hover:bg-slate-100 hover:text-slate-500
  }

  .button-min{
  @apply h-fit cursor-pointer bg-white px-2 py-1 text-xs text-slate-700 shadow-sm 
  }
}